outputDir = '/data/xrz/capint/output_test'

cleanup = false
workflow.output.mode = 'copy'

report.overwrite = true
timeline.overwrite = true

process {
    cpus = 16
    maxForks = 6
    errorStrategy = 'terminate'   // stop on error so failures are not silently masked


    // withName: 'CUTADAPT' {
    //     cpus = 6
    //     memory = '12 GB'
    // }


}

